
/*container principal do cabecalhp, tudo que esta dento da classe, vai obedecer as regras*/

.container-header{
    width: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 30px;
    background: linear-gradient(to right, rgb(150, 131, 131) );
}

.logo-principal{
    display: flex;
    align-items: center;
}